In [5]:
s = "윌 스미스가 하드캐리ㅋㅋㅋㅋㅋㅋㅋㅋ"
s.replace("ㅋ","")

'윌 스미스가 하드캐리'

In [14]:
review_list1 = ["윌 스미스가 하드캐리ㅋㅋㅋㅋㅋㅋㅋ",
               "자스민 너무 멋지고 팬 엄청나게 생길듯"]
review_list2 = ["색감도 노래도 너무 화려하고 재밌었어요ㅋㅋㅋㅋ",
               "오늘부터 디즈니 팬입니다ㅋㅋㅋ",
               "디즈니의 새로운해석도 놀랍고. 윌스미스도 신의한수!"]

for i in review_list1:
    print(i.replace("ㅋ",""))
for i in review_list2:
    print(i.replace("ㅋ",""))

윌 스미스가 하드캐리
자스민 너무 멋지고 팬 엄청나게 생길듯
색감도 노래도 너무 화려하고 재밌었어요
오늘부터 디즈니 팬입니다
디즈니의 새로운해석도 놀랍고. 윌스미스도 신의한수!

In [19]:
def string_replace(list_test):
    for review in list_test:
        print(review.replace("ㅋ",""))

In [22]:
string_replace(review_list1)

윌 스미스가 하드캐리
자스민 너무 멋지고 팬 엄청나게 생길듯

In [23]:
def number_sum(a,b):
    result = a+b
    return result

In [24]:
number_sum(3,10)

13

In [25]:
def number_sub(num1,num2):
    return num1-num2

In [26]:
num1=int(input("첫 번째 정수 입력>> "))
num2=int(input("두 번째 정수 입력>> "))
result = number_sub(num1,num2)
print(result)

첫 번째 정수 입력>> 10
두 번째 정수 입력>> 3
7

### 독스트링(docstring)
- 함수의 설명을 작성할 수 있다(Shift+Tab)

In [32]:

def cal(num1,num2, op):
    """덧셈과 뺄셈을 계산하는 함수"""
    if op == "+":
        result = num1+num2
    elif op == "-":
        result = num1-num2
    return result

In [30]:
num1 = int(input("첫 번째 정수 입력 >> "))
num2 = int(input("두 번째 정수 입력 >> "))
op = input("연산자 입력(+,-) >> ")
result = cal(num1,num2, op)
print(f"결과 : {result}")

첫 번째 정수 입력 >> 5
두 번째 정수 입력 >> 3
연산자 입력(+,-) >> +
결과 : 8

In [34]:
def add(*args):
    print(args)

In [35]:
add(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [36]:
def add(*args):
    sum = 0
    for i in args:
        sum += i
    return sum

In [38]:
add(1,2,3,4,5,6,7,8,9,10)

55

In [39]:
def add_sub(num1,num2):
    return num1+num2, num1-num2

In [40]:
add_sub(10,7)

(17, 3)

In [41]:
result_add, result_sub = add_sub(10,7)

In [42]:
print(result_add)
print(result_sub)

17
3

In [45]:
def power_of_N(num2,power=2):
    return num2**power

In [46]:
power_of_N(5)

25

In [47]:
power_of_N(5,3)

125

In [48]:
def print_map(**kwargs):
    print(kwargs)
    for key,value in kwargs.items():
        print(key,'/',value)

In [49]:
print_map(하나=1)

{'하나': 1}
하나 / 1

In [50]:
print_map(one=1, two=2)

{'one': 1, 'two': 2}
one / 1
two / 2

# 팀 문제 풀이

In [52]:
strToInt = "329"
print(int(strToInt)*2)

658

In [55]:
phone_number = "010-5179-8179"
print(phone_number.replace('-',""))

01051798179

In [148]:
str = input("문자열을 입력하시오>> ")
s = input("분리 기준 문자>> ")
str.split(s)

문자열을 입력하시오>> 010-5179-8179
분리 기준 문자>> -

['010', '5179', '8179']

In [151]:
name = input("이름 >> ")
num = input("주민번호 7자리를 입력하세요 >> ")
g = ''
if num[-1:] == '1' or num[-1:] == '3' :
    g = '남자'
elif num[-1:] == '2' or num[-1:] == '4' :
    g = '여자'
    
print("{}님은 {}년 {}월 {}일에 태어났고, 성별은 {}입니다.".format(name,num[:2],num[2:4],num[4:6],g))

이름 >> 지영
주민번호 7자리를 입력하세요 >> 9903012
지영님은 99년 03월 01일에 태어났고, 성별은 여자입니다.

In [152]:
for i in range(1,7):
    print('*'*i)

*
**
***
****
*****
******

In [66]:
my_list = ["가","나","다","라","마"]
for i in range(len(my_list)):
    print()

가 나 다 라 마

In [67]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(f"{my_list[i]} {my_list[i+1]} {my_list[i+2]}")

가 나 다
나 다 라
다 라 마

In [153]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
for i in range(len(s)-1,-1,-1):
    print(s[i], end="")

Life is too short, You need python.

In [154]:
s=".nohtyp deen noY, trohs oot si efiL"
s2=""
for i in range(len(s)-1,-1, -1):
    s2+=s[i]
print(s2)

Life is too short ,Yon need python.

In [76]:
import random

In [134]:
r = random.randint(1,50)

while True:
    num = int(input("숫자를 입력하세요 >> "))
    
    if r > num:
        print(f"{num}보다 큰 수 입니다.")
    elif r < num:
        print(f"{num}보다 작은 수 입니다.")
    elif r == num:
        print("정답입니다.")
        break

숫자를 입력하세요 >> 50
50보다 작은 수 입니다.
숫자를 입력하세요 >> 25
25보다 작은 수 입니다.
숫자를 입력하세요 >> 12
12보다 큰 수 입니다.
숫자를 입력하세요 >> 18
18보다 큰 수 입니다.
숫자를 입력하세요 >> 22
정답입니다.

In [144]:
for i in range(2,10):
    print(f"{i}단: ",end=" ")
    for j in range(1,10):
        print(f"{i}*{j}={i*j}",end=" ")
    print()

2단:  2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3단:  3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4단:  4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5단:  5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6단:  6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7단:  7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8단:  8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9단:  9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81